<header>
    <div class="container">
        <div style="height: 120px; background-color: #FFDC7E; padding-left:50px;" class="d-flex align-items-center">게시판</div>
    </div>
</header>

<div class="container mt-4 px-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.id %></td>
                <td><%= link_to "#{article.title}", article_path(article) %></td>
                <td><%= article.content %></td>
                <td><%= article.created_at.strftime("%y/%m/%d %R") %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>

<div class="container">
    <div style="text-align: right;">
        <%= link_to new_article_path do %>
           <button type="button" class="btn btn-outline-warning">새글</button>
        <%end%>
    </div>
</div>

