<header>
    <div class="container">
        <div style="height: 120px; background-color: #FFDC7E; padding-left:50px;" class="d-flex align-items-center">방명록 글수정</div>
    </div>
</header>

<div class="container mt-4 px-5" style="width: 60%;">
    <%= form_for :memo, url: memo_path, method: :patch do |f| %>
        <p>
            <%= f.label :writer, '작성자' %>
            <%= f.text_field :writer, class: 'form-control' %>
        </p>
        <p>
            <%= f.label :content, '내용' %>
            <%= f.text_area(:content, size: "20x5", class: 'form-control') %>
        </p>
        <p style="text-align: right;"><%= f.submit '수정', class: 'btn btn-outline-warning' %></p>
    <% end %>
</div>